// start of selectRestaurants styles
.selectRestaurants {
    z-index: 1;
    .input {
        position: relative;
        .placeholder,
        .hidePlacholder {
            position: absolute;
            transition: all .2s ease;
        }
        .hidePlacholder {
            transform: translateY(10px);
            font-size: 16px;
            color: #988;
        }
        .focusedPlaceholder {
            transform: translateY(-10px);
            font-size: 14px;
            color: var(--inputBorderColor);
        }
        .arrows,
        .rotateArrows {
            position: absolute;
            top: 25px;
            right: 0;
            cursor: pointer;
            span {
                transition: all .3s ease;
                font-size: 30px;
            }
        }
        .rotateArrows {
            span {
                transform: rotate(180deg);
            }
        }
    }
}
// end of selectRestaurants styles