h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  padding: 0 15px;
  max-width: 1720px;
  margin: 0 auto;
}

:root {
  --linksColor: #222;
  --linksColorHover: #ff2f92;
  --linksFontFamily: Roboto, sans-serif;
  --linksFontSize: 14px;
  --linksFontWeight: bold;
  --titleFamily: Playfair Display, sans-serif;
  --titleColor: #222;
  --serviceFamily: Roboto, sans-serif;
  --mainFamily: Playfair Display, sans-serif;
  --inputBorderColor: #88a3e7;
  --namesColor: #ff2f92;
}




@media screen and (max-width: 990px){
  .container {
    padding: 0;
  }
}